// You custom settings file to override Foundation defaults
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

@import "stacktable";

// ----------------------------------------
// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "compass/css3";
// @import "foundation/settings";
// @import "foundation/functions/all";

// Control which mixins you have access too

// @import "foundation/mixins/clearfix";
// @import "foundation/mixins/css-triangle";
// @import "foundation/mixins/font-size";

// Must include next two for semantic grid to work

// @import "foundation/mixins/respond-to";
// @import "foundation/mixins/semantic-grid";

// @import "foundation/common/globals";
// @import "modular-scale";

// Must include the grid for any responsiveness

// @import "foundation/components/grid";

// Control which common styles get compiled

// @import "foundation/common/typography";
// @import "foundation/common/forms";

// Control which components you get if customizing

// @import "foundation/components/modules/buttons";
// @import "foundation/components/modules/tabs";
// @import "foundation/components/modules/ui";
// @import "foundation/components/modules/topbar";
// @import "foundation/components/modules/navbar";
// @import "foundation/components/modules/orbit";
// @import "foundation/components/modules/reveal";
// @import "foundation/components/modules/offcanvas";

@mixin container-style {
    border: solid 1px $thirdColor;
    background: $white;
    @include border-radius(5px);
}

a {
    color: $thirdColor;
}

html {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    background: $themeBackground;
}



/* Header */

#branding {
    padding: 10px 0;
    
    @media only screen and (max-width: 767px) {
        margin-bottom: -20px;
        
        .logo img {
            margin: 0 auto;
            display: block;
        }
    }
}

.logo {
    margin-bottom: 10px;
    img {
        max-height: 80px;
        background: #fff;
        @include box-shadow(0 0 10px rgba(#fff,.7));
    }
}

/* Forms */

    
.button {
    text-shadow: 0 1px 1px rgba(0, 0, 0, .25);
}

form {

    fieldset {
        padding-bottom: $columnGutter / 2;
        background: #fff;
        border: solid 5px $thirdColor;
        @include border-radius(5px);
        
        &.fiche-contact-form {
            position: relative;
            padding-top: 20px;
            
            .star-contact {
                position: absolute;
                right: 0;
                top: 0;
                overflow: hidden;
                padding: 0;
                
                label {
                    margin: 0;
                    padding: 0;
                }
                
                input[type=checkbox] {
                    position: absolute;
                    left: -9999px;
                    top: 0;
                    
                    &:checked + div {
                        color: $white;
                        background-color: $mainColor;
                    }
                }
                div {
                    padding: 10px;
                    border: 1px solid $secondaryColor;
                    border-top: none;
                    color: lighten($txtColor, 50%);
                    border-right: none;
                }
            }
        }
    }
    
    label {
        margin-top: 7px;
        margin-bottom: 7px;
    }
    
    input[type=file] {
        margin-bottom: 5px;
        
        + br + a {
            font-style: italic;
        }
    }
}

.select-sort {
  @include clearfix;
  margin-bottom: 3px;
  
  label {
    text-align: right;
    font-size: 11px;
  }
  
  select {
    position: relative;
    top: -5px;
  }
}

.ui-datepicker {
    z-index: 3 !important;
}

label.inline {
    @include inline-block;
}

.toggleswitch.inline + .ui-toggle-switch {
    position: relative;
    top: -5px;
    margin-left: 5px;
}


.ui-select {
    width: 100%;
    margin-bottom: 12px;
    .select2-choice {
        padding-top: 1px;
        min-height: 32px;
    }
}

.hidden {
    position: absolute;
    top: -9999px;
    left: 0;
}

.panel {
    text-align: center;
    border: none;
    @include border-radius(5px);
    background: #ebd6e3;
    background: rgba(#fff, 0.8);
    @include box-shadow(0 0 10px rgba(0,0,0,0.2), inset 0 0 50px rgba(255,255,255,0.8), inset -10px 0 50px rgba(255,255,255,0.8));
    
    p {
        margin: 0 0 5px 0;
    }
}

/* Login form */

.login {

    padding: 0;
    margin: 0;
    height: 100%;
    
    .theme-label {
      display: none;
    }

    #wrapper {
        display:table;
        width: 100%;
        text-align: center;
        height: 100%;
        
        &:before {
            content: '';
            display: inline-block;
            height: 100%; 
            vertical-align: middle;
        }
        
        h1 {
            text-align: center;
        }
    }
    
    #main, .row {
        width: auto;
        max-width: 400px;
        min-width: 200px;
        margin: 0 auto;
    }
    
    #cell {
        text-align: left;
        display: inline-block;
        vertical-align: middle;
        margin: 0 auto;
        padding: 0;
        
        form {
            margin: 10px 0 0 0;
        }
    }
    
    fieldset {
        border: none;
        background: transparent;
    }
    
    legend {
        text-align: center;
        background: transparent;
    }
}

/* Table*/

table {
    width: 100%;
    
    .table-action {
        font-size: 25px;
    }
}

table th { font-weight: bold; }
table td, table th { padding: 9px 10px; text-align: left; }

table th {
  &.st-head-row {
    text-align: center;
    font-size: 17px;
    background-color: $thirdColor;
    color: $white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    
    a {
      color: #fff;
    }
    
    &.st-head-row-main {
      color: $txtColor;
      background-color: $secondaryColor;
      padding-top: 0.5em;
    }
  }
}

/* Mobile */
@media only screen and (max-width: 767px) {
	
	table.responsive { margin-bottom: 0; }
	
	.pinned { position: absolute; left: 0; top: 0; background: #fff; width: 35%; overflow: hidden; overflow-x: scroll; border-right: 1px solid #ccc; border-left: 1px solid #ccc; }
	.pinned table { border-right: none; border-left: none; width: 100%; }
	.pinned table th, .pinned table td { white-space: nowrap; }
	.pinned td:last-child { border-bottom: 0; }
	
	div.table-wrapper { position: relative; margin-bottom: 20px; overflow: hidden; border-right: 1px solid #ccc; }
	div.table-wrapper div.scrollable table { margin-left: 35%; }
	div.table-wrapper div.scrollable { overflow: scroll; overflow-y: hidden; }	
	
	table.responsive td, table.responsive th { position: relative; white-space: nowrap; overflow: hidden; }
	table.responsive th:first-child, table.responsive td:first-child, table.responsive td:first-child, table.responsive.pinned td { display: none; }
}

/* Navigation */

.colophon {
    z-index: 9999;
    .nav-bar {
        @include clearfix;
        background: #fff;
        @include box-shadow(0 0 10px rgba(#000, 0.5));
        
        > li {
            border-color: darken(#fff, 7%);
            
            &:hover {
                border-color:darken($thirdColor, 5%);
                background-color:$thirdColor;
                
                a {
                    color: $white;
                }
            }
            
            i {
                font-size: 25px;
            }
            
            > a {
                color: $thirdColor;
            }
        }
    }
}

.extras-footer {
    color: $white;
    padding: 10px 0;
    
    small {
        font-size: 11px;
    }
}

/* Main Menu Index*/

.row {
  .menu-items {
      list-style: none; 
      padding: $columnGutter / 3 0;
      @include clearfix;
      li {
          @media only screen and (max-width: 767px) {
            &.mobile-two {
              padding: 0;
            }
          }
          a {
              display: block;
              @include border-radius(5px);
              margin: $columnGutter 0;
              padding: $columnGutter $columnGutter / 3;
              border: 1px solid darken($thirdColor, 5%);
              background-color: $thirdColor;
              text-align: center;
              color: $white;
              @include box-shadow(0 2px 6px rgba(0,0,0,0.2), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.2));
              text-shadow: 1px 1px 1px rgba(0,0,0,.5);
              
              &:hover {
                  border-color:darken($mainColor, 5%);
                  background-color:$mainColor;
              }
              
              i {
                  display: block;
                  margin: 0 auto;
                  font-size: 80px;
                  line-height: 1;
              }
              
              @media only screen and (max-width: 767px) {
                  margin: $columnGutter $columnGutter / 3;
                  i { font-size: 40px; }
                  
                  
              }
          }
          
          &[class*="column"]:last-child {
              float:left;
          }
      }
  }
}
/* Main content */

#main {
    background: #ebd6e3;
    background: rgba(#fff, 0.8);
    @include box-shadow(0 0 40px rgba(0,0,0,0.7), inset 0 0 50px rgba(255,255,255,0.8), inset -10px 0 50px rgba(255,255,255,0.8));
    text-align: left;
    vertical-align: middle;
    margin: 10px auto 0;
    padding: 10px 15px;
    @include border-radius(7px);
    max-width: 1024px;
    
    h1 {
        i {
            color: $thirdColor;
        }
    }
    
    h1, h2, p {
        text-shadow: 0 1px 1px rgba(#fff, 1);
    }
    
    h1 {
        border-bottom: 10px solid $thirdColor;
        padding-bottom: 5px;
        margin-bottom: 30px;
        font-size: 24px;
        span {
            color:$thirdColor;
            font-size: 22px;
            
            @media only screen and (max-width: 767px) {
                display: block;
                padding-left: 58px;
            }
        }
    }
}

[class*="icon-"] {
    vertical-align: middle;
}

// Desktop format

@media only screen and (min-width: 768px) {
    body {
        padding-bottom: 45px + 20px;
    }
    
    .colophon {
        position: fixed;
        bottom:0;
        left: 0;
        right: 0;
    
        .nav-bar {
            margin-bottom: 0;
            height: auto;
        }
    }
}

.theme-switcher, .theme-switcher li, .theme-label {
  @include inline-block;
  vertical-align: middle;
}

.theme-label {
  font-size: 10px;
  line-height: 17px;
  position: relative;
  top: -7px;
  margin-right: 3px;
}

.theme-switcher {
  list-style: none;
  
  li {
    a {
      display: block;
      height: 15px;
      width: 15px;
      text-indent: -9999px;
      margin: 2px;
      
      &.default-theme {
        background-color: #0a3d7c;
      }
      
      &.blue-theme {
        background-color: #3BB0D1;
      }
      
      &.purple-theme {
        background-color: #8F3171;
      }
      
      &.wood-theme {
        background-color: #303438;
      }
      
      &.active {
        border: 2px solid #fff;
        margin: 0;
      }
    }
  }
}