@import "foundation/common/ratios";

// Settings file containing Foundation defaults

// Grid Settings

// $rowWidth: 1000px;
// $columnGutter: 30px;
// $totalColumns: 12;
// $mobileTotalColumns: 4;

// Text Direction Settings

// $textDirection: ltr; // Controls default global text direction, 'rtl' or 'ltr'

// Colors Settings

/*
    Theme
    
    - groupeforce1
    - funky
    - blueeyes
    - purplerain

*/

/*$mainColor: #EDC435;*/

// $secondaryColor: #e9e9e9;
// $alertColor: #c60f13;
// $successColor: #5da423;
// $txtColor: #222;
// $highlightColor: #ffff99;
// $black: #000;
// $white: #fff;
// $shinyEdge: rgba(#fff, .5);
// $darkEdge: rgba(#000, .2);

// Typography Settings

// $headerFontFamily: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
// $headerFontWeight: bold;
// $headerFontColor: #222;
// $bodyFontFamily: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
// $bodyFontWeight: normal;
// $bodyFontColor: $txtColor;

// Button Settings

// $buttonRadius: 3px;
// $btnBase: 10px;

// $tinyBtnBase: $btnBase - 5;
// $smallBtnBase: $btnBase - 3;
// $largeBtnBase: $btnBase + 5;

// Form Settings

// $formSpacing: 12px;

// Tab Settings

// $tabHeight: 40px;

// Nav Bar Settings

// $navBarHeight: 40px;
// $navFlyoutBaseWidth: 250px;

// UI Settings

// $thumbRadius: 3px;

// $progBarHeight: 25px;
// $progBarBorderColor: darken($white, 20%);
// $progBarBorderSize: 1px;
// $progBarPad: 2px;

// Modular Scale

// $ratio: $golden;
// $baseFontSize: 14px;
// $importantModNum: 44px;

// Tooltip Settings

// $hasTipBorderBottom: dotted 1px #ccc;
// $hasTipFontWeight: bold;
// $hasTipFontColor: #333;
// $hasTipBorderBottomHover: dotted 1px darken($mainColor, 20%);
// $hasTipFontColorHover: $mainColor;
// $tooltipBackgroundColor: #000;
// $tooltipBackgroundOpacity: 0.85;
// $tooltipFontSize: 12;
// $tooltipFontWeight: bold;
// $tooltipFontColor: #fff;
// $tapToCloseFontSize: 10;
// $tapToCloseFontWeight: normal;
// $tapToCloseFontColor: #888;
// $tooltipFontSizeScreenSmall: 14;
// $tooltipBackgroundOpacityScreenSmall: 0.85;

// Top Bar Settings

// $topBarBgColor: #222;
// $topBarHeight: 45px;
// $topBarBtmMargin: 30px;
// $topBarTitleWeight: bold;
// $topBarTitleSize: ms(1);
// $topBarLinkColor: $white;
// $topBarLinkWeight: bold;
// $topBarLinkSize: ms(0) - 1;
// $topBarDropToggleSize: 5px;
// $topBarSearchWidth: 200px;
// $topBarBreakPoint: 940px; // Change to 9999px for always mobile layout
// $topBarNavToggleSize: 8px;


@mixin i-class($name,$pua, $classPrefix) {
  .#{$classPrefix}#{$name}:before { 
    content: "\f#{$pua}";
  }
}

@mixin ie-class($name,$pua, $classPrefix) {
  .#{$classPrefix}#{$name} { 
    *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf#{$pua};"); 
  }
}

@mixin face($fontName, $fontFileName, $classPrefix) {
  @font-face { 
    font-family: $fontName;
    src: url('#{$fontFileName}.eot');
    src: url('#{$fontFileName}.eot?#iefix') format('embedded-opentype'),
         url('#{$fontFileName}.woff') format('woff'),
         url('#{$fontFileName}.ttf') format('truetype'),
         url('#{$fontFileName}.svg##{$fontName}') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  /* global foundicon styles */
  [class*="#{$classPrefix}"] {
    display: inline;
    width: auto;
    height: auto;
    line-height: inherit;
    vertical-align: baseline;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
  }
  [class*="#{$classPrefix}"]:before {
    font-family: $fontName;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
  }
}


$classPrefix: 'icon-';

@include face(GeneralEnclosedFoundicons, "../fonts/general_enclosed_foundicons", $classPrefix);

/* icons */
@include i-class(settings,"000", $classPrefix);
@include i-class(heart,"001", $classPrefix);
@include i-class(star,"002", $classPrefix);
@include i-class(plus,"003", $classPrefix);
@include i-class(minus,"004", $classPrefix);
@include i-class(checkmark,"005", $classPrefix);
@include i-class(remove,"006", $classPrefix);
@include i-class(mail,"007", $classPrefix);
@include i-class(calendar,"008", $classPrefix);
@include i-class(page,"009", $classPrefix);
@include i-class(tools,"00a", $classPrefix);
@include i-class(globe,"00b", $classPrefix);
@include i-class(home,"00c", $classPrefix);
@include i-class(quote,"00d", $classPrefix);
@include i-class(people,"00e", $classPrefix);
@include i-class(monitor,"00f", $classPrefix);
@include i-class(laptop,"010", $classPrefix);
@include i-class(phone,"011", $classPrefix);
@include i-class(cloud,"012", $classPrefix);
@include i-class(error,"013", $classPrefix);
@include i-class(right-arrow,"014", $classPrefix);
@include i-class(left-arrow,"015", $classPrefix);
@include i-class(up-arrow,"016", $classPrefix);
@include i-class(down-arrow,"017", $classPrefix);
@include i-class(trash,"018", $classPrefix);
@include i-class(add-doc,"019", $classPrefix);
@include i-class(edit,"01a", $classPrefix);
@include i-class(lock,"01b", $classPrefix);
@include i-class(unlock,"01c", $classPrefix);
@include i-class(refresh,"01d", $classPrefix);
@include i-class(paper-clip,"01e", $classPrefix);
@include i-class(video,"01f", $classPrefix);
@include i-class(photo,"020", $classPrefix);
@include i-class(graph,"021", $classPrefix);
@include i-class(idea,"022", $classPrefix);
@include i-class(mic,"023", $classPrefix);
@include i-class(cart,"024", $classPrefix);
@include i-class(address-book,"025", $classPrefix);
@include i-class(compass,"026", $classPrefix);
@include i-class(flag,"027", $classPrefix);
@include i-class(location,"028", $classPrefix);
@include i-class(clock,"029", $classPrefix);
@include i-class(folder,"02a", $classPrefix);
@include i-class(inbox,"02b", $classPrefix);
@include i-class(website,"02c", $classPrefix);
@include i-class(smiley,"02d", $classPrefix);
@include i-class(search,"02e", $classPrefix);

$classPrefix: 'access-icon-';

/* font-face */
@include face(AccessibilityFoundicons, "../fonts/accessibility_foundicons", $classPrefix);

/* icons */
@include i-class(wheelchair,"000", $classPrefix);
@include i-class(speaker,"001", $classPrefix);
@include i-class(fontsize,"002", $classPrefix);
@include i-class(eject,"003", $classPrefix);
@include i-class(view-mode,"004", $classPrefix);
@include i-class(eyeball,"005", $classPrefix);
@include i-class(asl,"006", $classPrefix);
@include i-class(person,"007", $classPrefix);
@include i-class(question,"008", $classPrefix);
@include i-class(adult,"009", $classPrefix);
@include i-class(child,"00a", $classPrefix);
@include i-class(glasses,"00b", $classPrefix);
@include i-class(cc,"00c", $classPrefix);
@include i-class(blind,"00d", $classPrefix);
@include i-class(braille,"00e", $classPrefix);
@include i-class(iphone-home,"00f", $classPrefix);
@include i-class(w3c,"010", $classPrefix);
@include i-class(css,"011", $classPrefix);
@include i-class(key,"012", $classPrefix);
@include i-class(hearing-impaired,"013", $classPrefix);
@include i-class(male,"014", $classPrefix);
@include i-class(female,"015", $classPrefix);
@include i-class(network,"016", $classPrefix);
@include i-class(guidedog,"017", $classPrefix);
@include i-class(universal-access,"018", $classPrefix);
@include i-class(elevator,"019", $classPrefix);